    label:not(.form-check-label) {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }

    .card-body img {
        width: 50px;
        height: 50px;
    }

    .card {
        width: 40%;
    }

    .card-footer,
    .card-header {
        background-color: #f8fafc !important;
    }
        
    ::marker {
        color: #071657;
        font-size: 300%;
    }

    ul {
        font-size: 16px;
        line-height: 30px;
        list-style: square;
    }

    ul li span {
        vertical-align: 10px;
    }
