#mainCategory-select .btn, #subCategory-select .btn, #role-select .btn, #ranking-selection .btn{
    border: 1px solid #071657;
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    width: 100%;
}

.display .btn-outline-primary{
    border-color: #071657;
    color: #071657;
    height: 30px;
    line-height: 15px;
}
.display .btn-outline-primary:hover, .display .btn-outline-primary:focus, .display .btn-outline-primary:active{
    background-color: #071657;
    color: #ffffff;
}
.term label{
    width: 100px;
}
.term .btn-outline-info{
    border-color: #4CA0D4;
    color: #4CA0D4;
    height: 30px;
    line-height: 15px;
}
.term .btn-outline-info:hover, .term .btn-outline-info:focus, .term .btn-outline-info:active {
    background-color: #4CA0D4;
    border-color: #4CA0D4;
    color: #ffffff;
}
input[type=checkbox]:checked + label.btn-outline-info{
    background-color: #4CA0D4;
    border-color: #4CA0D4;
    color: #ffffff;
}
td{
    font-size: small;
}

