/* These style is only used by home pages */

/* Icon Button style */
.btn-icon {
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    width: 47px;
    height: 47px;
    line-height: 47px;
    color: #fa8557;
}
.btn-icon-selected{
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    width: 47px;
    height: 47px;
    line-height: 47px;
    background-color: #fa8557;
}
.btn-icon-selected i{
    color: #ffffff;
}

/* blue-dotted-line style */
.blue-dotted-line {
    border-top: 5px solid #071657;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.thin-dotted-line {
    width: 10px;
}
.thick-dotted-line {
    width: 20px;
    opacity: 1;
}

/* Card Style */
.card-img-top{
    height: 200px;
    object-fit: cover;
}
.viertial-direction-card img{
    width: 100px; height: 100px;
    object-fit: cover;
}
.card-img-overlay-sale {
    background-color: red;
    color: white;
    width: 50%;
    height: 16pt;
    text-align: center;
}
.card-img-overlay{
    height: 100px;
}
.card-img-overlay button{
    border: none;
    text-align: center;
    border-radius: 50%;
    padding: 0.5rem;
    width: 47px;
    height: 47px;
    line-height: 47px;
    color: #fa8557;
    background-color: #ffffff;
}

/* categoriesCarousel Style */
#categoriesCarousel {
    margin-top: 50px;
}
#categoriesCarousel img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}
#categoriesCarousel .carousel-control-prev, #categoriesCarousel .carousel-control-next {
    background-color: #071657;
    border-radius: 50%;
    width: 47px;
    height: 47px;
}
#categoriesCarousel .carousel-control-prev {
    transform: translateX(-100%);
}
#categoriesCarousel .carousel-control-next {
    transform: translateX(100%);
}

@media (max-width: 768px) {
    #categoriesCarousel .carousel-inner .carousel-item>div {
        display: none;
    }

    #categoriesCarousel .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#categoriesCarousel .carousel-inner .carousel-item.active,
#categoriesCarousel .carousel-inner .carousel-item-start,
#categoriesCarousel .carousel-inner .carousel-item-next,
#categoriesCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    #categoriesCarousel .carousel-inner .carousel-item-right.active,
    #categoriesCarousel .carousel-inner .carousel-item-next,
    #categoriesCarousel .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    #categoriesCarousel .carousel-inner .carousel-item-left.active,
    #categoriesCarousel .carousel-item-prev:not(.carousel-item-end),
    #categoriesCarousel .active.carousel-item-start,
    #categoriesCarousel .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    #categoriesCarousel .carousel-item-next.carousel-item-start,
    #categoriesCarousel .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    #categoriesCarousel .carousel-inner .carousel-item-prev,
    #categoriesCarousel .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}
