.btn {
    border-radius: 50vh;
    height: 100%;
    width: 80%;
    font-size: 0.8rem;
}
.btn-primary {
    border-color: #071657;
    background-color: #071657;
    color: #ffff;
}

.btn-gray {
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    color: #ffff;
}

.in-stock {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(76, 160, 212, 0.20);
    background-color: #4CA0D433;
    color: #071657;
}

.out-of-stock {
    display: inline-flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: rgba(234, 75, 72, 0.20);
    /* color: #071657; */
    color: firebrick;
}

/* Backgroung-color Gray */
.bg-gray {
    background: var(--Gray-Scale-Gray-50, #F2F2F2);
}

.product-img {
    width: 100px; 
    height: 100px;
}