/* Header & Navbar */
.logo{
    height: 4.5rem;
    position: absolute;
    top:1px;
}

.search-position{
    position: relative;
    top:6px;
}

.item-position{
    position: relative;
    top: 15px;
}

.custom-bell{
    position: relative;
    top: 15px;
    left: -40px;
    transform: scale(1.7);
    color: #071657;
}

.custom-heart{
    position: relative;
    top: 15px;
    left: -40px;
    transform: scale(1.5);
    color: #071657;
}

.bag-group{
    position: relative;
    top: 10px;
    right: 40px;
}

.custom-bag {
    height: 2rem;
    position: absolute;
}

.orange-badge {
    position: absolute;
    top: 15px;
    left:20px;
    color: #FA8557;
}

.nav-text{
    position: relative;
    top: 8px;
    display: flex;
    flex-direction: column;
}
